:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Navbar siempre arriba */
app-nav-bar {
    width: 100%;
}

/* El contenido central debe ocupar todo el espacio disponible */
router-outlet {
    flex: 1;
}

/* Footer siempre abajo */
footer {
    width: 100%;
}